body {
    background-color: #38241C
}


.topnav {
    position: relative;
    background-color: #24150F;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #F4E4CD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    
}

.topnav a:hover {
    background-color: #FFA62A;
    color: #38241C
}



h1 {
    font-family: sans-serif;
    font-size: 300%;
    text-align: center;
    color: #F4E4CD;
    background-color: transparent;
    
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p{
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
    color: #F4E4CD;
    background-color: transparent;
}

h4{
    text-align: center;
}

a {
    text-align: center;
    color: #F4E4CD;
    
}